<div class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a class="underline-button" href="/css">CSS</a></li>
      <li><a class="underline-button" href="/html">HTML</a></li>
      <li><a class="underline-button" href="/javascript">JAVASCRIPT</a></li>
      <li><a class="underline-button" href="/ruby">RUBY</a></li>
    </ul>
  </nav>
  
  <img class="logo" src="assets/AA_Times_Logo.png" alt="aa_times_logo">
  
  <ul class="masthead-links">
    <li>Tuesday, October 18, 2016</li>
    <li id="sections-paper-btn">
      <i class="fa fa-newspaper"></i>
      <a class="underline-button" href="todays_paper">Today's Paper</a>
    </li>
    
    <li id="sections-video-btn">
      <i class="fa fa-video"></i>
      <a class="underline-button" href="video">Video</a>
    </li>
  
    <li><a class="highlighted" href="temp">77°F</a></li>
    <li><a class="highlighted" href="stocks">AAO +100%</a></li>
  </ul>
</div>