<nav class="sections-nav">
  <ul class="sections-nav-links">
    <li><a href="world">World</a></li>
    <li><a href="san_francisco">San Francisco</a></li>
    <li><a href="new_york">New York</a></li>
    <li><a href="bootcamp_prep">Bootcamp Prep</a></li>
    <li><a href="jumpstart">Jumpstart</a></li>
    <li><a href="online">Online</a></li>
    <li><a href="marketing">Marketing</a></li>
    <li><a href="sales">Sales</a></li>
    <li><a href="talent_match">TalentMatch</a></li>
    <li><a href="alumni">Alumni</a></li>
    <li><a class="underlined" href="all">ALL</a></li>
  </ul>
</nav>